<ion-header>
  <ion-navbar>
    <!-- <ion-input placeholder="Anime title" [(ngModel)]="searchString" (ngModelChange)="search()"></ion-input>
    <ion-buttons end>
      <button ion-button *ngIf="searchString != ''" (click)="clearSearch()">Clear</button>
    </ion-buttons> -->
    <ion-searchbar
    [(ngModel)]="searchString"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="search()"
    (ionCancel)="clearSearch()"
    placeholder="Search for anime">
    </ion-searchbar>
    <button ion-button *ngIf="showGenres == false && selectedGenres.length != 0" (click)="showCategories()">Categories ({{selectedGenres.length}})</button>
    <button ion-button *ngIf="showGenres == false && selectedGenres.length == 0" (click)="showCategories()">Categories</button>
    <button ion-button *ngIf="showGenres == true" (click)="hideCategories()">Hide</button>
    <button ion-button *ngIf="selectedGenres.length != 0" (click)="clearCelectedGenres()">Clear</button>

    <ion-grid>
      <ion-row wrap>
          <ion-col col-4 *ngFor="let genre of selectedGenres" class="token">
              {{genre}} <ion-icon float-right name="md-close"></ion-icon>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-fab bottom right >
        <button ion-fab>
          <ion-icon name="md-settings"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab (click)="changeTitleType()">
            <ion-icon name="md-quote"></ion-icon>
            <ion-label *ngIf="title_type == 'title_english'">English</ion-label>
            <ion-label *ngIf="title_type == 'title_japanese'">Japanese</ion-label>
            <ion-label *ngIf="title_type == 'title_romaji'">Romaji</ion-label>
          </button>
          <button ion-fab (click)="changeOrder()">
            <ng-container *ngIf="order == 'asc'">
                <ion-icon name="md-trending-down"></ion-icon>
                <ion-label>Order A-Z</ion-label>
            </ng-container>
            <ng-container *ngIf="order == 'desc'">
                <ion-icon name="md-trending-up"></ion-icon>
                <ion-label>Order Z-A</ion-label>
            </ng-container>
          </button>
          <button ion-fab (click)="changeNotificationHour()">
              <ion-icon name="md-alarm"></ion-icon>
              <ion-label>Notification hour</ion-label>
          </button>
        </ion-fab-list>
      </ion-fab>

    <ion-list *ngIf="showGenres == true">
      <ng-container *ngFor="let g of genres">
          <ion-item *ngIf="g.selected == false" (click)="selectGenre(g.name)">{{g.name}}</ion-item>
          <ion-item *ngIf="g.selected == true" class="ticked" (click)="unselectGenre(g.name)">{{g.name}}</ion-item>
      </ng-container>
    </ion-list>

    <ion-label *ngIf="searchResults.length == 0 && showGenres == false && searchString != ''">
      No results
    </ion-label>  

    <ion-list *ngIf="searchResults.length == 0 && showGenres == false && searchString == ''">
        <ng-container *ngFor="let a of animes">
            <ion-item *ngIf="title_type == 'title_english'" (click)="moreInfo(a)">{{a.title_english}}</ion-item>
            <ion-item *ngIf="title_type == 'title_japanese'" (click)="moreInfo(a)">{{a.title_japanese}}</ion-item>
            <ion-item *ngIf="title_type == 'title_romaji'" (click)="moreInfo(a)">{{a.title_romaji}}</ion-item>
        </ng-container>
    </ion-list>

    <ion-list *ngIf="searchResults.length != 0 && showGenres == false">
      <ng-container *ngFor="let a of searchResults">
          <ion-item *ngIf="title_type == 'title_english'" (click)="moreInfo(a)">{{a.title_english}}</ion-item>
          <ion-item *ngIf="title_type == 'title_japanese'" (click)="moreInfo(a)">{{a.title_japanese}}</ion-item>
          <ion-item *ngIf="title_type == 'title_romaji'" (click)="moreInfo(a)">{{a.title_romaji}}</ion-item>
      </ng-container>
    </ion-list>

</ion-content>
