<ion-content padding>

  <ion-grid *ngIf="watching.length != 0">
    <ion-row>
      <ion-col col-6>
        <ion-img style="background-color: #05514E;" width={{newest.image.width}} height={{newest.image.height}} src={{newest.image.url}}></ion-img>
      </ion-col>
      <ion-col col-6>
        <ion-row class="newest-info"><ion-col>{{newest.title}}</ion-col></ion-row>
        <ion-row><ion-col>Next episode in</ion-col></ion-row>
        <ion-row><ion-col>{{newest.time_left}}</ion-col></ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="watching.length != 0">
    <ion-item *ngFor="let a of watching">
      <ion-row style="font-size:14px;">
            <ion-col col-7 *ngIf="a.episodes.total == 0" (click)="moreInfo(a)">{{ (a.title.length>18)? (a.title | slice:0:18)+'...':(a.title) }}</ion-col>
            <ion-col col-5 *ngIf="a.episodes.total > 0" (click)="moreInfo(a)">{{ (a.title.length>14)? (a.title | slice:0:14)+'...':(a.title) }}</ion-col>
            <ion-col col-2 *ngIf="a.episodes.total > 0">{{a.episodes.next}} <ion-icon name="md-flag"></ion-icon></ion-col>
            <ion-col col-4 style="text-align:right;">{{a.time_left}}</ion-col>
            <ion-col col-1 (click)="remove(a)"><ion-icon name="md-close"></ion-icon></ion-col>
      </ion-row>
    </ion-item>
  </ion-grid>

</ion-content>
