<ion-header>

  <ion-navbar>
    <ion-title>More info</ion-title>
    <ion-buttons *ngIf="unselectable == false" end>
      <button ion-button color="danger" *ngIf="watching == true" (click)="remove()">Remove</button>
      <button ion-button color="secondary" *ngIf="watching == false" (click)="add()">Add</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div text-center>
      <ion-img width={{anime.image.width}} height={{anime.image.height}} src={{anime.image.url}}></ion-img>
</div>

<div class="info">
  <ion-item>{{anime.title_english}}</ion-item>
  <ion-item *ngIf="unselectable == false" text-wrap>Next episode: {{anime.next_episode_date}}</ion-item>
  <ion-item *ngIf="unselectable == true" text-wrap>No synopsis for next episode</ion-item>
  <ion-item text-wrap><p [innerHTML]="anime.description"></p></ion-item>
</div>
</ion-content>
