.toast-message{
    text-align: center;
}

.ticked{
    background-color: #517E7C !important;
}

.info{
    p{
        color:#669999;
    }
}

.toolbar-background, .content, .item{
    background-color: #05514E;
    color:#669999;
} 

.newest-info {
    font-weight: bold;
    color: #669999;
    font-size: 20px;
    align-items: flex-end;
}

button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
}

.fab {
    contain: layout;
}

.token{
    background-color: #517E7C;
    border-radius: 40px;
    font-size: 12px;
    color: #39304A;
    padding: 10px;
    margin: 1px;
}

.popover{
    background-color: white !important;
}